# Compiled source #
###################
*.dll
*.exe
*.pdb
*.dll.config
*.cache

# NuGet Packages #
##################
*.nupkg
*.pdb
*.opdb
*.osym
*.nupkg.sha512

# Build results #
################
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/

# Visual Studio files #
#######################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.bak
*.vspscc
*.vssscc
*.psess
*.cache
*.swp
*.userprefs
*.dotCover
._*
.nbattrs
/.idea
*.resharper
_resharper.*
*.[Rr]e[Ss]harper
*.DotSettings.user
_ReSharper*/
.*proj.user
*.[Cc]ache
*.dbmdl
*.dbproj.user
*.gpState
*.scc
[Bb]uild[Ll]og.*
*.ilk
*.sdf
*.opensdf
*.sln.ide
*.suo.ide
*.ncb
*.suo
*.user
*.vbw
*.vpwhist
*.vsw
*.[Cc]ache
*.dll.config

# MSTest #
##########
testresults/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Tt]est[Rr]un[Rr]esult*/
$(TestResultsDir)/*
_PublishTestResultsAzure.txt

# NUNIT #
########
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project #
##################################
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Roslyn cache directories #
############################
*.ide.cache
*.ide.metadata
*.ipch/
*.opendb

# ReSharper #
############
_ReSharper*/
*.DotSettings
*.dotCover
*.resharper

# Rider #
########
.idea/
*.sln.iml

# Others #
##########
*.[Pp]ublish.xml
*.pfx
*.snk
*.config.user
*.[Cc]rash.txt
*.sqlproj.user
*.html.publishproj
