.header-payment {
    display: flex;
    justify-content: space-between;
    line-height: unset;
}

.export-file {
    display: inline-flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    border: #DFE8F1 solid 1px;
}

.create-new {
    padding: 10px;
    margin: 10px;
    align-items: center;
    border: #DFE8F1 solid 1px;
}

.filter:hover,
.export-file:hover {
    cursor: pointer;
}

.right-header {
    display: flex;
}

/* .padding-10 {
    margin: 10px;
    padding: 10px;
    border: #DFE8F1 solid 1px;
} */
.form-filter{
    width:300px;
}

.bg-header-payment {
    background-color: #fff;
}

.bg-create-new {
    background-color: #5FB86C;
}

.color-header-payment {
    color: #8894A1;
}

.color-white {
    color: #fff;
}

.plus-payment-new {
    padding-right: 10px;
    font-size: 16px;
}

.filter {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    color: #8894A1;
    border: #DFE8F1 solid 1px;
}

.filter:hover {}

.export-file svg,
.filter svg {
    color: #5FB86C;
    font-size: 16px;
}

.padding-left-6 {
    padding-left: 6px;
}

.padding-right-6 {
    padding-right: 6px;
}

.payment-request {
    font-family: "Segoe UI";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.width-100 {
    width: 100%;
}

.padding-bottom-12 {
    padding-bottom: 12px;
}

.clear-payment {
    float: right;
    background-color: #fff;
    color: #5FB86C;
}

.apply-payment {
    float: right;
    background-color: #5FB86C;
}

.height-100 {
    height: 100%;
}

.payment-list {
    margin: 0 16px;
}
@media only screen and (max-width: 600px) {
    .header-payment {}

    .payment-request {
        display: none;
    }

    .payment-all {}

    .content-request {
        padding: auto;
    }

    .export-file, .filter, .create-new {
        padding: 0px;
        height: 40px;
        /* line-height: 40px; */
    }
    .form-filter{
        width: 250px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}